html {
    scroll-behavior: smooth;
}
a {
    color: #161616;
}
.visually-hidden {
    display: none;
}
body {
    color: #161616;
}
.section-tagline{
    color:#D73953;
}
.card-category{
    color: #D73953;
}
